img {
  width: 100%;
}

.container {
  border: 1px solid gray;
  padding: 16px;
  flex-grow: 1
}

.header {
  background-color: lightgray;
}

.flex {
  display: flex;
}

.flex-v-center {
  flex-direction: column;
  align-items: center;
}

.margin-top {
  margin-top: 8px;
}

.max-width {
  width: 100%;
}

.calculator {
  min-height: 600px;
}

.search-result {
  width: auto;
  height: 100%;
}